/* Biblioteca de Variáveis */

:root {
  --cor-primaria: #3e6b56;
  --cor-secundaria: #D4B483;
  --cor-apoio: #F5EFE6;
  --cor-texto: #2E2E2A;
  --cor-rodape: #2E2E2A;
  --cor-texto-rodape: #F5EFE6;
}

body {
  font-family: 'Lato', sans-serif;
  color: #2E2E2A;
  background-color: #F5EFE6;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(180deg, #3f7052 0%, #F5EFE6 100%);
  color: white;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 16px;
}

.btn-cta {
  background-color: #D4B483;
  color: white;
  padding: 12px 36px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
}


/* footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--cor-rodape);  
  color: var(--cor-texto-rodape);
  position: absolute;
  bottom: 0;
  width: 100%;
}
