:root {
    --color-verde-principal: #3f7052;
    --color-bege-secondary: #d4b483;
    --color-dourado: #d2a956;
    --color-rosa-perolado: #cfaeaa;
    --color-background: #f5efe6;
    --color-text: #5c5c54;
    --color-background-footer: #2e2e2a;
    --color-text-footer: #f5efe6;
    --color-background-branco: #f5f6f4;
}